.footer {
    background-color: #293553;
    text-align: center;
    padding: 10px;
    color: #F1F1F1;
}

/* Style the content */
.container {
    background-color: #eeeeee;
    padding: 10px;
}
.header {
    background-color: #293553;
    text-align: center;
    padding: 20px;
    color: #F1F1F1;
}
tr:nth-child(even) {background-color: rgba(227, 217, 222, 0.52);}