

<!DOCTYPE html>

<head>
    <title>Prosentient</title>
    <meta charset="UTF-8" />


    <link href="main.css" rel="stylesheet"/>
</head>
<body>
<div class="header">Prosentient</div>
</div>
<div class="container">
<table class="table table-striped">
    <thead>
    <tr>
      
        <th>Title</th>
        <th>Author</th>
        <th>Subjects</th>
        <th>Type</th>
        <th>Biblio Number</th>
        <th>Copy Right Date</th>
        <th>isbn</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="currentClient, stat : ${list}">
        <td th:text="${currentClient.getTitle()}" ></td>
        <td th:text="${currentClient.getAuthor()}" ></td>
        <td th:text="${currentClient.getSubjects()}"></td>
        <td th:text="${currentClient.getType()}"></td>

        <td th:text="${currentClient.getBiblionumber()}" ></td>
        <td th:text="${currentClient.getCopyrightdate()}"></td>
        <td th:text="${currentClient.getIsbn()}"></td>
    </tr>

    </tbody>
</table>
</div>
<div class="footer">&copy; 2020</div>
</div>
</body>
</html>